@using NewsTella.Models.ViewModel
@model SearchArticlesViewModel


@* @if (Model.Articles.Count == 0)
{
    <p>No articles found.</p>
}
else
{
    <div class="article-list">
        @foreach (var article in Model.Articles)
        {
            <div class="article">
                <h3>@article.Headline</h3>
                <p>@article.ContentSummary</p>
            </div>
        }
    </div>
} *@

<style>
    .wrapper-search {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px !important;
        padding-top: 80px !important;
        padding-bottom: 40px !important;
        position: relative;
    }
</style>

<div class="container">
    <div class="row">
        <div class="wrapper-search">
            <div class="col-6">
                <div class="search-result-heading">
                    <div class="search-text">Search results for: </div>
                    <h2>@Model.SearchValue</h2>
                </div>
            </div>
            <div class="col-6">
                <div class="searchbar-wrapper">
                    <div class="search-form">
                        <form asp-controller="Article" asp-action="SearchArticles" method="get" role="search">
                            <div class="input-group">
                                <input type="text" name="headline" class="input-text form-control" aria-label="Search" />
                                <button class="btn btn-red" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>