@model IEnumerable<NewsTella.Models.Database.Category>

    @foreach (var item in Model)
    {
        <li class="nav-item dropdown-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Articles" asp-route-categoryId="@item.Id"> @item.Name</a>
        </li>
    }
