* {
    box-sizing: border-box;
}

:root {
    --tt-secondary: Merriweather;
    --tt-extra: Red Hat Display;
    --tt-primary-font: Epilogue;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.f-h6 {
    color: cornflowerblue
}

.f-h4 {
    padding-top: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #d9534f
}

.row-margin {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 80px !important;
    padding-top: 80px !important;
}

/*   Navbrand Navheading  */

.logo-heading {
    color: #e41b13;
    text-transform: capitalize;
}

.nav-heading {
    height: 40px;
    line-height: 20px;
    margin-bottom: 0;
    -webkit-text-stroke-width: 1px;
    /*margin-left: 20px;*/
    text-transform: uppercase;
}

.navbar-brand {
    text-shadow: 1px 2px 3px #000, 0px 2px 3px #fff;
    padding: 9px;
    height: 40px;
    display: block;
    text-transform: uppercase;
    margin-right: 0;
}

/*************************************************************/

/* Search dropdown */

.search-dropdown {
    background-color: white;
    padding: 20px;
    z-index: 1;
    border: 1px solid #ddd;
    position: absolute;
    top: 48px;
    right: 0;
    width: 500px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
}

/*.search-dropdown.show {
  opacity: 1;
  height: auto;
}*/

.input-text:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
}

/*************************************************************/

/* Navbar Font-weight */

.navbar-nav a {
    font-weight: 600 !important;
}

/*************************************************************/

/* Small navbar, Account registration and login, login and register buttons, subscribe */

.small-nav {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

    .small-nav .nav-link,
    .small-nav .btn {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

.account-login-registration {
    position: relative;
}

.nav-account-registration-login {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    margin-top: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    display: none;
}

    .nav-account-registration-login::before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        right: 0;
        height: 4px;
        background: transparent;
    }

.account-login-registration:hover .nav-account-registration-login {
    display: block;
}

.btn-red {
    background-color: #e41b13 !important;
    color: #fff !important;
    border-color: #e41b13 !important;
}

    .btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open > .dropdown-toggle.btn-red {
        background-color: #C41309 !important;
        color: #fff !important;
        border-color: #C41309 !important;
    }

/************************************************************************************************************/


/* Frontpage Left content */

.img-size {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.article-section {
    padding-top: 13px;
}

.category-link {
    text-decoration: none;
    font-size: 16px !important;
    padding: 10px 0;
    color: #e41b13;
    font-weight: 500 !important;
    font-family: var(--tt-extra) !important;
    line-height: 1.6 !important;
}

    .category-link:hover {
        color: #13DCE4;
    }

.article-heading {
    font-weight: 800 !important;
    font-size: 36px !important;
    font-family: var(--tt-primary-font) !important;
    letter-spacing: -1px !important;
    margin-bottom: 6px;
}

    .article-heading a {
        text-decoration: none;
        color: #000;
    }

.article-paragraph {
    color: #777777;
    font-weight: 400 !important;
    font-family: var(--tt-secondary) !important;
    margin-top: 10px;
    column-count: 1;
    column-gap: 48px;
    font-size: 16px !important;
    line-height: 1.6 !important;
}

.article-heading a:hover {
    color: #e41b13;
}

/***************************************/

/* Frontpage Right side */

.img-container {
    flex: 0 0 25%;
    width: 25%;
    display: block;
    margin-left: 0;
    margin-right: auto;
    order: 0;
}

.article-container {
    display: flex;
    padding-bottom: 12.5px;
    margin-bottom: 12.5px;
}

    .article-container:nth-last-child(1) {
        padding-bottom: 0;
        margin-bottom: 0;
    }

.tab-article-section {
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-tab-wrap {
    object-fit: cover;
    height: 100%;
    object-position: 83%;
}

.tab-category-heading {
    font-size: 16px !important;
    color: #e41b13;
    font-weight: 500 !important;
    text-decoration: none;
    font-family: var(--tt-extra) !important;
    line-height: 1 !important;
}

.tab-article-heading {
    margin-top: 10px;
    font-size: 20px !important;
    line-height: 1.2 !important;
    font-weight: 800 !important;
    letter-spacing: -1px !important;
    margin-bottom: 0;
    font-family: var(--tt-primary-font) !important;
}

    .tab-article-heading a {
        text-decoration: none;
        color: #000;
    }

.tab-category-heading:hover {
    color: #13DCE4;
}

.tab-article-heading a:hover {
    color: #e41b13;
}

/*********************************************************/

/* Navpills Modified design */

.nav-pills {
    position: relative;
}

    .nav-pills .nav-link {
        position: relative;
        background-color: transparent;
        border: none;
        color: #000;
        text-transform: uppercase !important;
        font-weight: 700 !important;
        padding: 0 0 12px 0;
        transition: color 0.3s;
        font-size: 16px !important;
        font-family: var(--tt-extra) !important;
    }

.tab-item {
    margin-right: 29px;
}

    .tab-item:last-child {
        margin-right: 0;
    }

.nav-pills::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #ddd;
    z-index: 0;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: #e41b13;
}

    .nav-pills .nav-link.active::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background-color: #e41b13;
        z-index: 1;
        width: 100%;
    }

/*************************************************/

.front-img-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
}

.front-img {
    background-image: url('https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/49-scaled.jpg');
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    background-size: cover;
    background-position: center center;
    min-width: 100%;
    padding-bottom: 72%;
    background-position: center 60%;
}

.img-container {
    flex: 0 0 25%;
    width: 25%;
    display: block;
    order: 0;
    margin-left: 0;
    margin-right: auto;
    height: 100%;
    position: relative;
}

.tab-img-wrapper {
    position: relative;
    margin-bottom: 0;
}

.tab-img {
    background-image: url('https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg');
    padding-bottom: 68%;
    width: 100%;
    height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center 50%;
    display: block;
}

/* Search Articles */
.wrapper-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px !important;
    padding-top: 80px !important;
    padding-bottom: 40px !important;
    position: relative;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;
}

.container-new {
    width: auto !important;
    max-width: 1440px;
    padding-left: 0px;
    padding-right: 0px;
}

.searchtext-lsection {
    padding-right: 40px !important;
}

.search-result-heading .search-text {
    font-family: var(--tt-secondary) !important;
    font-size: 20px !important;
    line-height: 1.2 !important;
}

.search-result-heading .articleheading-text {
    font-family: var(--tt-primary-font) !important;
    font-size: 50px !important;
    line-height: 1.2 !important;
    font-weight: 800 !important;
    text-transform: none !important;
    margin-bottom: 0;
}

.search-result-heading {
    line-height: 21px;
}

.articleheading-text {
    display: inline-block;
    position: relative;
    margin: 0;
    word-wrap: break-word;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
}

.search-borderbottom {
    content: '' !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    z-index: 0 !important;
    border-color: var(--tt-primary-color) !important;
    border-style: solid !important;
    border-width: 0px 0px 5px 0px !important;
}

.articlesearch {
    font-family: var(--tt-extra) !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
    padding: 15px 20px;
    border: 0;
}

.searchbar-wrapper .input-form-border {
    border-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #e1e1e1;
    pointer-events: none;
    transition: all .3s ease;
}

.searchbar-wrapper .articlesearch:focus + .input-form-border {
    border-color: black !important;
    z-index: 6;
    outline: 0 none;
}

.btn-search {
    padding: 0 25px;
    font-family: var(--tt-extra) !important;
    font-size: 14px !important;
    line-height: 1.2 !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    z-index: 7 !important;
    border-radius: 0;
    border: 0;
}

.title-line {
    height: 50px;
    display: none;
    position: relative;
}

.title-line::after {
    content: '';
    width: 100%;
    position: absolute;
    background-color: #4db2ec;
    top: 0;
    left: 0;
    margin: auto;
    height: 2px;
    bottom: 40%;
}

.row-articlesearch {
    margin-left: -24px;
    margin-right: -24px;
    padding-bottom: 60px !important;
}

.articlesearch-wrapper {
    display: block;
    min-height: 1px;
    float: left;
    padding-right: 24px;
    padding-left: 24px;
    position: relative;
}

.articlesearch-col {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.articlesearch-row {
    margin-left: -10px;
    margin-right: -10px;
    row-gap: calc(18px* 2);
    display: flex;
    flex-wrap: wrap;
}

.articlesearch-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.articlesearch-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.articlesearch-imgcontainer {
    display: block;
    order: 0;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}

.articlesearch-imgwrapper {
    padding-bottom: 100%;
    display: block;
    position: relative;
}

.articlesearch-img {
    min-width: 100%;
    background-position: center 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
}

.articlesearch-info {
    width: 100%;
    padding: 13px 0 0 0;
    margin-bottom: 0;
    z-index: 1;
    border: 0 solid #eaeaea;
    font-family: 'Open Sans', 'Open Sans Regular', sans-serif;
    font-size: 11px;
    margin-bottom: 7px;
    line-height: 1;
    min-height: 17px;
}

.articlesearch-category {
    display: inline-block;
    padding: 3px 6px 4px 0;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: #e41b13;
    font-family: var(--tt-extra) !important;
    font-size: 16px !important;
    line-height: 1.6 !important;
    font-weight: 500 !important;
    margin-right: 5px;
    vertical-align: top;
}

.articlesearch-headline {
    font-family: var(--tt-primary-font) !important;
    font-size: 26px !important;
    line-height: 1.1 !important;
    font-weight: 800 !important;
    letter-spacing: -1px !important;
    margin: 0 0 6px 0;
    word-wrap: break-word;
}

.articlesearch-headline a {
    color: #000;
    box-shadow: inset 0 0 0 0 #000;
}

.articlesearch-summary {
    margin: 10px 0 0 0;
    column-count: 1;
    column-gap: 48px;
    font-family: var(--tt-secondary) !important;
    font-size: 14px !important;
    line-height: 21px;
    color: #767676;
    overflow-wrap: anywhere;
}

.articleseach-noresults {
    width: 100%;
}

    .articleseach-noresults h2 {
        font-size: 16px;
        font-weight: normal;
        text-align: left;
        padding: 20px;
        border: 1px solid rgba(190, 190, 190, 0.35);
        color: rgba(125, 125, 125, 0.8);
        text-align: center;
    }
/**************************************************/
.fromHorisontal {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}


.button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.no-border {
    border: none;
    outline: none;
}

/* Mobile view for small nav and its content */

@media (max-width: 576px) {
    .small-nav {
        display: none;
    }

    #mobileMenuPlaceholder {
        border-top: 2px solid;
        margin-top: 15px;
    }

    .nav-account-registration-login {
        all: unset;
    }

    .navbar-nav.small-nav-content {
        margin-top: 10px;
        margin-bottom: 3px;
    }

    .nav-account-registration-login ul {
        margin-bottom: 10px;
    }

    #mobileMenuPlaceholder ul .navbar-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        /*justify-content: space-evenly;*/
        justify-content: space-between;
    }

        #mobileMenuPlaceholder ul .navbar-nav li:first-child a {
            /*all:unset;*/
            background-color: #e41b13 !important;
            color: #fff !important;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.375rem;
            display: inline-block;
            border: 1px solid transparent;
            width: 100%;
            text-align: center;
        }

        #mobileMenuPlaceholder ul .navbar-nav li:last-child a {
            width: 100%;
        }

    .nav-account-registration-login .navbar-nav li:first-child {
        margin-right: 10px !important;
        width: 50%;
    }

    .nav-account-registration-login .navbar-nav li:last-child {
        width: 50%;
    }

    .navbar-nav.small-nav-content li:last-child {
        margin-left: 0 !important;
    }

    .navbar-nav.small-nav-content li a {
        width: 100%;
    }

    search-icon {
        display: none !important;
    }

    #search-form-mobile {
        display: flex !important;
        width: 100%;
    }
}

/*******************************************************/

/* Search dropdown - changed position of search dropdown for 768px screensize or less */

@media (max-width: 767px) {
    .search-dropdown {
        top: 44px;
        /*width: 90%;*/
    }

    .tab-category-heading {
        font-size: 13px !important;
    }

    .tab-article-heading {
        font-size: 16px !important;
        margin-top: 4px;
    }

    .category-link {
        font-size: 15px !important;
    }

    .article-heading {
        font-size: 28px !important;
    }

    .article-paragraph {
        font-size: 14px !important;
    }

    .col-margin {
        margin-bottom: 40px;
    }

    .tab-article-section {
        padding-left: 15px;
    }

    .article-container {
        padding-bottom: 7.5px !important;
        margin-bottom: 7.5px !important;
    }

    .tab-sm {
        padding: 0;
    }

    .tab-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*.nav-pills {
        justify-content: center;
    }*/

    .tab-item {
        margin-left: auto;
    }

    .container-rework, .container-new {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .col-margin, .tab-sm {
        padding-left: 0;
        padding-right: 0;
    }

    .tab-wrapper {
        margin-left: -20px !important;
        margin-right: -20px !important;
    }

    .tab-item:last-child {
        margin-right: auto;
    }

    .row-margin {
        padding-top: 24px !important;
        padding-bottom: 60px !important;
    }

    .row-new {
        margin-left: 0;
        margin-right: 0;
    } 

    .wrapper-search {
        padding-top: 60px !important;
        padding-bottom: 45px !important;
        flex-direction: column;
        align-items: flex-start;
    }

    .searchtext-lsection {
        margin-bottom: 20px !important;
        padding-right: 0px !important;
    }

    .btn-search {
        padding: 0 20px;
    }

    .articlesearch {
        padding: 12px 16px;
    }

    .search-result-heading .articleheading-text {
        font-size: 36px !important;
    }

    .search-result-heading .search-text {
        font-size: 16px !important;
    }

    .row-articlesearch {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .articlesearch-wrapper {
        padding-right: 0;
        padding-left: 0;
        float: none;
        width: 100%;
    }

    .articlesearch-row {
        margin-left: -5px;
        margin-right: -5px;
        row-gap: calc(10px* 2);
    }

    .articlesearch-col {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .articlesearch-category {
        font-size: 13px !important;
    }

    .articlesearch-headline {
        font-size: 18px !important;
    }

    .articlesearch-summary {
        font-size: 12px !important;
    }
}

@media (min-width: 768px) {
    .row-margin {
        margin-left: -20px;
        margin-right: -20px;
    }

    .col-margin, .tab-sm {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row-new {
        margin-left: -0px;
        margin-right: -0px;
    }
}

@media (min-width: 768px) and (max-width: 790px) {
    .tab-item {
        margin-right: 24px;
    }

    .nav-pills .nav-link {
        font-size: 15px !important;
    }
}

@media (min-width: 768px) and (max-width: 1018px) {
    .tab-category-heading {
        font-size: 13px !important;
    }

    .tab-article-heading {
        font-size: 15px !important;
        margin-top: 4px;
    }

    .category-link {
        font-size: 15px !important;
    }

    .article-heading {
        font-size: 30px !important;
    }

    .article-paragraph {
        font-size: 14px !important;
    }

    .tab-article-section {
        padding-left: 15px;
    }

    .tab-item {
        margin-right: 16px;
    }

    .article-container {
        padding-bottom: 7.5px !important;
        margin-bottom: 7.5px !important;
    }

    .row-margin {
        margin-left: 0;
        margin-right: 0;
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .wrapper-search {
        padding-top: 60px !important;
        padding-right: 15px !important;
        padding-bottom: 20px !important;
        padding-left: 15px !important;
    }

    .btn-search {
        padding: 0 20px;
        font-size: 13px !important;
    }

    .articlesearch {
        font-size: 15px !important;
        padding: 12px 16px;
    }

    .search-result-heading .search-text  {
        font-size: 16px !important;
    }

    .search-result-heading .articleheading-text {
        font-size: 36px !important;
    }

    .row-articlesearch {
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 40px !important;
    }

    .articlesearch-wrapper {
        padding-right: 14px;
        padding-left: 14px;
    }

    .articlesearch-row {
        margin-left: -5px;
        margin-right: -5px;
        row-gap: calc(12.5px* 2);
    }

    .articlesearch-col {
        padding-left: 5px;
        padding-right: 5px;
        width: 33.33333333%;
    }

    .articlesearch-category {
        font-size: 15px !important;
    }

    .articlesearch-headline {
        font-size: 18px !important;
    }

    .articlesearch-summary {
        font-size: 13px !important;
    }
}

@media (max-width: 392px) {
    .nav-pills .nav-link {
        font-size: 13px !important;
    }

    .tab-item {
        margin-right: 15px;
    }
}

@media (min-width: 1019px) and (max-width: 1140px) {
    .article-container {
        padding-bottom: 10px !important;
        margin-bottom: 10px !important;
    }

    .container-rework, .container-new {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .wrapper-search {
        padding-top: 70px !important;
        padding-bottom: 30px !important;
    }

    .front-img {
        padding-bottom: 80%;
    }

    .search-result-heading .articleheading-text {
        font-size: 42px !important;
    }

    .search-result-heading .search-text {
        font-size: 18px !important;
    }

    .row-articlesearch {
        margin-right: -20px;
        margin-left: -20px;
    }

    .articlesearch-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .articlesearch-row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        row-gap: calc(15px* 2);
    }

    .articlesearch-col {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .articlesearch-headline {
        font-size: 20px !important;
    }
}

@media (min-width: 1141px) {
    .container-rework, .container-new {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media (min-width: 768px) and (max-width: 1018px) {
    @media (min-width: 768px) {
        .col-margin, .tab-sm {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media (min-width: 1019px) and (max-width: 1140px) {
    @media (min-width: 768px) {
        .row-margin {
            margin-left: -15px;
            margin-right: -15px;
        }

        .col-margin, .tab-sm {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}


/* Removes container for 1200px and less */

@media (max-width: 1440px) {
    .container-rm-margin {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
}

.no-border {
    border: none;
    outline: none;
}

.lineborder {
    border-width: 5px !important;
}

.h5text {
    font-size: 20px !important;
    line-height: 1.2 !important;
    font-weight: 800 !important;
    letter-spacing: -1px !important;
}

    .h5text:hover {
        color: red;
    }

.texth1 {
}

.footerlinks:hover {
    color: orangered;
}

#cookieConsentdiv {
    z-index: 1000;
    position: fixed;
    width: 400px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px 20px 30px;
    font-family: 'Century Gothic', sans-serif;
    box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 30px 30px 0 0;
}

    #cookieConsentdiv button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: none;
        background-color: green;
        padding: 10px 50px;
        margin-top: -5px;
        color: white;
        transition: all ease 0.5s;
    }

        #cookieConsentdiv button:hover {
            background-color: darkgreen;
        }

    #cookieConsentdiv h3 {
        font-size: 22px;
    }

    #cookieConsentdiv p {
        font-size: 13px;
    }

    #cookieConsentdiv a {
        color: gray;
        text-decoration: underline;
    }

.pretext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    white-space: pre-line;
    margin: 1em 0;
}
.modeltext {
    font-weight: bold;
    background-color: #80808033;
    color: black;
}
/*Cards*/
.card-body {
    display: flex;
    flex-direction: column;
}

.card-text{
    flex-grow:1;
}
/*.card .img-fit{
 
    aspect-ratio:16 / 9;
    object-fit:contain;

}*/

/*Subscription Type*/
.pricing-content {
    position: relative;
}

.pricing_design {
    position: relative;
    margin: 0px 15px;
}

    .pricing_design .single-pricing {
        background: #d9534f;
        padding: 60px 40px;
        border-radius: 30px;
        box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
        position: relative;
        z-index: 1;
    }

        .pricing_design .single-pricing:before {
            content: "";
            background-color: #fff0f0;
            width: 100%;
            height: 100%;
            border-radius: 18px 18px 190px 18px;
            border: 1px solid #eee;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }

.price-head {
}

    .price-head h2 {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 600;
    }

    .price-head h1 {
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .price-head span {
    }

.single-pricing ul {
    list-style: none;
    margin-top: 30px;
}

    .single-pricing ul li {
        line-height: 36px;
    }

        .single-pricing ul li i {
            background: #554c86;
            color: #fff;
            width: 20px;
            height: 20px;
            border-radius: 30px;
            font-size: 11px;
            text-align: center;
            line-height: 20px;
            margin-right: 6px;
        }

.pricing-price {
}

.price_btn {
    background: #261f1f;
    padding: 10px 30px;
    color: white;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
}

    .price_btn:hover {
        background: #d9534f;
    
    }

a {
    text-decoration: none;
}

.section-title {
    margin-bottom: 60px;
}

.text-center {
    text-align: center !important;
}

.section-title h2 {
    font-size: 45px;
    font-weight: 600;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
}

/*********************************************************/

/* Likes & Views-function for article */
button i {
    transition: .3s all ease;
}

.btn_up.clicked, .btn_up:hover i {
    color: darkblue;
}

.btn_down.clicked, .btn_down:hover i {
    color: darkred;
}

.fa-thumbs-up:before {
    display: flex;
    margin-left: 4px;
    margin-bottom: 3px;
}

.fa-thumbs-down:before {
    display: flex;
    margin-left: 4px;
}
/***********************************Layout*/
/* site.css */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40; /* Dark background for footer */
    color: white; /* Text color */
    padding: 1rem 0; /* Padding inside the footer */
    margin: 0; /* Remove any margins */
    flex-shrink: 0;
}


