





<div class="container container-rm-margin mt-5">
	<div class="row">
		<div class="col-sm-12 col-md-7 col-lg-7">				
			<div class="d-flex flex-column">	
				<div class="front-img-container">
					<div class="front-img"></div>
				@* <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/49-scaled.jpg" class="img-fluid img-size" style="width: 100%;" alt="Alternate Text" /> *@
				</div>
			<div class="article-section">
				<a class="category-link icon-link icon-link-hover" href="#">Local</a>
				<h3 class="article-heading" title="Advances in Predicting and Monitoring Atmospheric Conditions"><a href="">Advances in Predicting and Monitoring Atmospheric Conditions</a></h3>
				<div class="article-paragraph">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires a combination of factors, including setting goals,...</div>
			</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 col-lg-5">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item tab-item" role="presentation">
						<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="true">Latest</button>
					</li>
					<li class="nav-item tab-item" role="presentation">
						<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-editors" type="button" role="tab" aria-controls="pills-editors" aria-selected="false">Editor's Choice</button>
					</li>
					<li class="nav-item tab-item" role="presentation">
						<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="false">Most Popular</button>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab" tabindex="0">
						<div class="article-container">
							<div class="img-container">
								<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
							</div>
							<div class="tab-article-section">
								<a class="tab-category-heading" href="">Weather</a>
								<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
							</div>
						</div>
						<div class="article-container">
							<div class="img-container">
								<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
							</div>
							<div class="tab-article-section">
								<a class="tab-category-heading" href="">Weather</a>
								<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
							</div>
						</div>
						<div class="article-container">
							<div class="img-container">
								<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
							</div>
							<div class="tab-article-section">
								<a class="tab-category-heading" href="">Weather</a>
								<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
							</div>
						</div>
						<div class="article-container">
							<div class="img-container">
								<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
							</div>
							<div class="tab-article-section">
								<a class="tab-category-heading" href="">Weather</a>
								<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
							</div>
						</div>
						<div class="article-container">
							<div class="img-container">
								<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
							</div>
							<div class="tab-article-section">
								<a class="tab-category-heading" href="">Weather</a>
								<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
							</div>
						</div>
						<div class="article-container">
							<div class="img-container">
								<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
							</div>
							<div class="tab-article-section">
								<a class="tab-category-heading" href="">Weather</a>
								<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-editors" role="tabpanel" aria-labelledby="pills-editors-tab" tabindex="0">
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					</div>
					<div class="tab-pane fade" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab" tabindex="0">
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					<div class="article-container">
						<div class="img-container">
							<img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/50.jpg" class="img-fluid img-tab-wrap" alt="Alternate Text" />
						</div>
						<div class="tab-article-section">
							<a class="tab-category-heading" href="">Weather</a>
							<h3 class="tab-article-heading"><a title="Capturing the Majestic Power and Beauty of Nature’s Elements" href="">Capturing the Majestic Power and Beauty of Nature’s Elements</a></h3>
						</div>
					</div>
					</div>
				</div>
		</div>
	</div>
</div>	

