<div class="text-center mt-5 mb-5 texth1">
    <h1>Local News</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset"> 
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/10-scaled.jpg" height="400px" alt="Local" class="card-img-top" />
                    <h5 class="card-title text-center mt-2 h5text">Town Celebrates Grand Opening of New Public Library with Festive Ribbon Cutting  </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires...</p>
                
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">      
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/9.jpg" height="400px" alt="Local" class="card-img-top" />
                    <h5 class="card-title text-center mt-2 mt-2 h5text">Community Unites to Support Families Affected by Recent Natural Disaster </h5>
                </a>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires...</p>
                
            </div> 
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card h-100 no-border">
                <a href="#"class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/7.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">Community Rallies Together to Rebuild Playground Destroyed in Devastating Fire </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires...</p>
                
            </div>
        </div>

    </div>
</div>
@* The Line On The Middle *@

<div class="border-bottom border-black m-3 mt-5 mb-5 lineborder"></div>

@* Second Line on the Page *@

<div class="container">
    <div class="row">

        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/6.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">Uncovers Corruption Scandal Involving Local Officials and Misappropriation of Funds </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/5.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">The Definitive Guide To Marketing Your Business On Instagram  </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/4-scaled.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">Olimpic Athlete Reads Donald Trump’s Mean Tweets on Kimmel </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/2.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2  h5text "> Program Will Lend $10M to Detroit Minority Businesses </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>

        @* Second Line on the CARDS *@

        <div class="col-6 col-md-4 col-lg-3 mb-4 ">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/3.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">Kansas City Has a Massive Array of Big National Companies</a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/1.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">Now Is the Time to Think About Your Small-Business Success  </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/8.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">Road Expansion Project Set to Ease Commute Time in Town </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 no-border">
                <a href="#" class="text-decoration-none text-reset">
                <img src="https://demo.tagdiv.com/newspaper_towntalk_pro/wp-content/uploads/2023/06/6.jpg" height="400px" alt="Local" class="card-img-top" />
                <h5 class="card-title text-center mt-2 h5text">Uncovers Corruption Scandal Involving Local Officials and Misappropriation of Funds </a></h5>
                <p class="card-text text-center">In the dynamic world of business and entrepreneurship, success is not just about having a great idea or a solid business plan. It requires....</p>
            </div>
        </div>


    </div>
</div>