@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container col-lg-12 py-5 align-items-center">
    <div class="row fromHorisontal col-md-6 align-items-center position-relative">
        <div style="background-color: #d4edda;">
            <h3>@ViewData["Title"]</h3>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>