@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="Container">
    <div class="row">
        <div class="col mb-3 m-lg-3">
            <h3>@ViewData["Title"]</h3>
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p class="text-success text-bg-success">
                        Please check your email to confirm your account.
                    </p>
            // <p>
            //     This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            //     Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            // </p>
                }
                else
                {
                    // <p>
                    //         Please check your email to confirm your account.
                    // </p>
                }
            }
        </div>
    </div>
</div>