<div class="container-fluid " style="background-color:#adbaff;">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6  ">
            <h2 class="text-center mt-5">Cookies Policy</h2>
            <p style="font-size:20px; margin-top:30px; margin-left:10px;">
                Welcome to [NewsTella] ("we", "our", "us"). This Cookies Policy explains how we use cookies and similar technologies on [NewsTella.Azure.com] (the "NewsTella") to improve your experience and to better understand how our website is used. By using our Site, you consent to the use of cookies in accordance with this policy.

            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
           <img src="https://www.cookieyes.com/wp-content/uploads/2021/10/Cookie-policy-generators-2.png"width="100%" ; height="450px;" />
        </div>
       
    </div>
</div>
<div class="container mt-5 mb-5">
    <h3 class="mt-4"> What Are Cookies?</h3>
    Cookies are small text files that are stored on your device (computer, tablet, or mobile) when you visit a website. They help websites recognize your device and store information about your preferences or past actions.

    <h3 class="mt-4"> What data do cookies collect</h3>
    Through cookies, data is collected by automated methods(without human intervention). The following data are collected and processed through cookies: the browser and operating system you use, IP address, user ID, date and time of your visit, interaction status, the use of the features on the website, the search phrases you enter, how often you visit our website, your language preferences, user transaction records including scrolling movements and information about the tabs you access.

    <h3 class="mt-4">  Who uses cookies</h3>
    Cookies set by the website owner or service provider(in this case, forms.app) are called "first- party" cookies. Cookies set by parties other than the website owner are called "third-party cookies". Third-party cookies enable third-party features or functionality to be provided on or through the website or service you are using(such as advertising, interactive content and analytics). The third parties that set these third-party cookies can recognize your computer both when it visits certain other websites or services.

    <h3 class="mt-4">
        Types of cookies
    </h3>
    Session Cookies: Session cookies are used during the visit of our visitors' to a website and these are temporary cookies that are deleted after the browser is closed. Main purpose of using these cookies is to ensure the proper functioning of the website during your visit. For instance, you are provided to fill online forms consisting of multiple pages.

    Persistent Cookies: Persistent cookies are used for increasing functionality of the website, providing a better and faster service to our visitors. These types of cookies are used for remembering your preferences and stored on your device via browsers. These can be used for offering you special suggestions considering matters like your aim to use the website. In favour of the persistent cookies, in case of visiting our website again with the same device, it is checked whether your device has a cookie created by our website.

    <h3 class="mt-4"> Categories Of The Cookies Used On Our Website</h3>
    When you first visit our website, you will be presented with a screen on the bottom regarding your cookie preferences. In accordance with the cookies you consent to be used on this screen, relevant cookies are stored on your browser or device. Types of cookies we use our website:

    Technical Cookies: These cookies are strictly necessary to provide you with services available through our forms.app service and to use some of its features, such as access to secure areas. Because these cookies are strictly necessary to deliver the forms.app services, you can not refuse them without impacting how our forms.app function. You can block or delete them by changing your browser settings, as described under the heading "How can I control cookies" in this Policy.

    Analytics/Performance Cookies: These cookies collect information about how users use the website. Such cookies are used to show how effective our marketing campaigns are, or to help us customise our services and applications for you in order to enhance your experience. These cookies may be set by us or by third-party providers whose services we have added to our pages.

    Marketing/Targeting Cookies: These cookies used to present advertisements/campaigns according to the interests of users and to measure the effectiveness of marketing activities.


</div>