@using Microsoft.Extensions.Options
@inject IOptions<NewsTella.Data.StripeSettings> Stripe
@model NewsTella.Models.Database.Subscription
@{
    ViewData["Title"] = "Payment";
}

<div class="text-center">
    <form asp-action="Create" asp-controller="PaymentDetail" method="POST">
        <article>
            <label>Supcription Type: @Model.SubscriptionType.TypeName</label>
            <label>Amount: @Model.Price</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="PastInt(@Model.Price)*100">
        </script>
    </form>
</div>