
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="statusMessageContainer">
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success">
                        <strong>Success! </strong> @TempData["AlertMessage"]
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // Function to hide the status message
        function hideStatusMessage() {
            var statusMessageContainer = document.getElementById('statusMessageContainer');
            if (statusMessageContainer) {
                statusMessageContainer.style.display = 'none';
            }

            // Redirect to the home page
            window.location.href = '/';
        }

        // Hide the status message after 10 seconds (10000 milliseconds) and then redirect
        setTimeout(hideStatusMessage, 10000);
    </script>
}