@model IEnumerable<NewsTella.Models.Database.SubscriptionType>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div style="height:350px;width:130px" class="col md-4 text-center mt-4 mb-4">
                <div class="mt-2 pt-4 border border-5">
                    <i class="mdi mdi-account h1 mb-3 "></i>
                    <h4 class="f-20 card-title fw-bold"><strong>@item.TypeName</strong></h4>
                    <div class="mt-4 pt-2">
                        <p class="mb-2 f-18 font-weight-bold h5">Features</p>
                        <p class="card-text text-muted">@item.Description</p>
                    </div>
                    <div class="pricing-plan mt-4 pt-2">
                        <h4 class="text-muted"><s> </s> <span class="plan pl-3 text-dark card-price">@item.Price</span></h4>
                        <p class="text-muted mb-0 card-text text-muted">Per Month</p>
                    </div>
                    <div class="mt-4 mb-4 pt-3">
                        <a class="btn btn-dark btn-rounded" asp-controller="Subscription" asp-action="PaymentDetail">Select</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
