@model IEnumerable<NewsTella.Models.Database.SubscriptionType>

<div class="container">
@* <div class="row  mt-5 mb-5">
        <div class="col-lg-12">
            <div class="title-box text-center">
                <h3 class="title-heading mt-4">Select Subscription</h3>
            </div>
        </div>
    </div> *@

    @Html.Partial("_SelectSubscriptionPartial", Model)
</div>


