@model NewsTella.Models.EmailEntity
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow border-0">
                <div class="card-header bg-secondary bg-gradient">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3>Send Email</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body p-2">
                <div><h3 class="text-bg-success">@ViewBag.Message</h3></div>
                <form method="post" asp-action="Create" enctype="multipart/form-data">
                    <div class="col-12">
                        <label>To Email</label>
                        <input asp-for="ToEmailAddress" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label>Subject</label>
                        <input asp-for="Subject" class="form-control" />
                    </div>

                    <div class="col-12">
                        <label>Email Body</label>
                        <textarea asp-for="EmailBody" rows="5" cols="20" class="form-control"></textarea>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-dark">Send Email</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
